@import "tailwindcss";

@layer base {
	:root {
		font-family: 'Lexend', Times, serif;
		background-color: oklch(98.5% 0.001 106.423);
		user-select: none;
		scrollbar-gutter: stable;
	}

 
}

@layer utilities {

	.animate-bounce-right {
		animation: bounce-right 1s infinite;
	}

}

/* cubic-bezier function from tailwindcss bounce animation */
@keyframes bounce-right {

	0%,
	100% {
		transform: translateX(-15%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}

	50% {
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
	
}